@using System.Runtime.InteropServices
@inject IStringLocalizer<App> localizer

<h3 class="text-center">@localizer["TABLEBRICKS_UPPER"] @localizer["AUTOMATION_UPPER"]</h3>

<ul class="menu">
    <li class="sidebar-item">
        <NavLink href="/" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
            <i class="bi bi-speedometer"></i>
            <span>Dashboard</span>
        </NavLink>
    </li>

    <AuthorizeView Roles="@($"{Roles.VIEW_LIVING_ROOM}, {Roles.VIEW_KITCHEN}, {Roles.VIEW_BATHROOM}, {Roles.VIEW_BEDROOM}, {Roles.VIEW_STORAGE_ROOM}, {Roles.VIEW_HALLWAY}")">
        <Authorized>
            <li class="sidebar-title">@localizer["ROOMS"]</li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.VIEW_LIVING_ROOM)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Rooms/LivingRoom" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-couch"></i>
                    <span>@localizer["LIVING_ROOM"]</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.VIEW_KITCHEN)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Rooms/Kitchen" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-kitchen-set"></i>
                    <span>@localizer["KITCHEN"]</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.VIEW_BATHROOM)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Rooms/Bathroom" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-bath"></i>
                    <span>@localizer["BATHROOM"]</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.VIEW_BEDROOM)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Rooms/Bedroom" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-bed"></i>
                    <span>@localizer["BEDROOM"]</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.VIEW_STORAGE_ROOM)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Rooms/StorageRoom" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-box-archive"></i>
                    <span>@localizer["STORAGE_ROOM"]</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="@(Roles.VIEW_HALLWAY)">
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Rooms/Hallway" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-door-open"></i>
                    <span>@localizer["HALLWAY"]</span>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <li class="sidebar-title">@localizer["ACCOUNT"]</li>
    <AuthorizeView>
        <Authorized>
            <li class="sidebar-item">
                <NavLink href="/Account/Details" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-user"></i>
                    <span>@localizer["ACCOUNT"]</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <form method="post" action="/Account/Logout">
                    <button type="submit" class="btn btn-danger btn-block text-left sidebar-link logout-button">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>@localizer["LOGOUT"]</span>
                    </button>
                </form>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="sidebar-item">
                <NavLink href="/Account/Login" class='sidebar-link blazor-link' Match="NavLinkMatch.All">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>@localizer["LOGIN"]</span>
                </NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

<p class="text-center">
    Ver. @Program.GetVersion()
    <div>@RuntimeInformation.FrameworkDescription / @RuntimeInformation.ProcessArchitecture</div>
</p>

<div class="d-flex justify-content-center pb-5">
    <div class="culture-wrapper">
        <CultureSelector />
    </div>
</div>